<!doctype html>
<html>
  <body>
    <div class="show">
      <h2> YOU GOT </h2>

      <% q = fizzbuzz(@number.number) # calling fizzbuzz to display result before giphy %>
      <h1><%= q %></h1>
      <%= get_fizz(q) %>

      <%= link_to 'TRY AGAIN', controller: 'numbers' %><br>
      <%= link_to 'Home', controller: 'welcome' %>
    </div>
  </body>
</html>
